<%- include('../partials/header') %>

<div class="notepad">
    <div class="notepadWrap">
    <h1>New Note</h1>

    <form name="noteform" action="/notes" method="POST" class="note">
            <textarea rows="15" cols="75" name="content"></textarea>
        <br>

        <label>Title: 
            <input type="text" name="title" required>
        </label>
        <label>Mood:
            <select name="mood">
                <option value="Happy">Happy</option>
                <option value="Sad">Sad</option>
                <option value="Other">Other</option>
            </select>
        </label><br>
        <label>Tag:
            <select name="tag">
                <option value="Finance + Career">Finance + Career</option>
                <option value="Life Skills">Life Skills</option>
                <option value="Mental Health">Mental Health</option>
                <option value="Friendship">Friendship</option>
                <option value="Love + Relationships">Love + Relationships</option>
            </select>
        <label>Share Note?
            <input type="checkbox" name="public" value='on'>
        </label><br>
        <input type="submit" value="Save Note">
    </form>
</div>
</div>

<%- include('../partials/footer') %>