<%- include('../partials/header') %>

<h1>Settings</h1>
<div>
    <form action="">
        <label>User Name:  
            <input type="text" name = "userName">
        </label><br>
        <label>Display?  
            <input type="checkbox" name = "userDisplay">
        </label><br>
        <label>First Name:  
            <input type="text" name = "firstName">
        </label><br>
        <label>Display?  
            <input type="checkbox" name = "nameDisplay">
        </label><br>
        <label>Age:  
            <input type="number" name = "age">
        </label><br>
        <label>Display?  
            <input type="checkbox" name = "ageDisplay">
        </label><br>
        <label>About Me:   
            <textarea rows="25" cols="75" name="about"></textarea>
        </label><br>
        <input type="submit" value="Save Settings">
    </form>
</div>

<%- include('../partials/footer') %>